.App {
    text-align: center;
}

.formblock {
    margin: 30px 0 50px;
    background-color: #b49f9a;
}

.addtask {
    margin: 30px 15px 30px;
    border-radius: 5px;
    width: 350px;
    border: none;
    height: 30px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 10px auto;
    background-image: url("https://images.freeimages.com/images/small-previews/2ae/bokeh-background-in-light-tan-rose-1635915.jpg");
    max-width: 800px;
    border-radius: 5px;
}

li span {
    margin-right: 15px;
}

li input {
    margin-right: 15px;
    border: antiquewhite;
}
li input:checked + span {
    text-decoration: line-through;
}

.del {
    color: red;
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.text {
    background-color: white;
    width: 500px;
    border-radius: 5px;
    padding-top: 5px;
}

